@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// layout
$grid-gap: 18px;
$border-radius: 16px;

$report-presentation-card-width: 242px;
$dashboard-item-card-width: calc(242px - 64px);
$main-section-height: 512px;

// colors
$primary: hsl(246, 80%, 60%);
$theme-darkest-color: hsl(226, 43%, 10%);
$theme-dark-color: hsl(235, 46%, 20%);
$theme-dark-color-hover: hsl(235, 36%, 31%);
$theme-light-color: hsl(235, 45%, 61%);
$theme-lightest-color: hsl(236, 100%, 87%);

$work-color: hsl(15, 100%, 70%);
$play-color: hsl(195, 74%, 62%);
$study-color: hsl(348, 100%, 68%);
$exercise-color: hsl(145, 58%, 55%);
$social-color: hsl(264, 64%, 52%);
$self-care-color: hsl(43, 84%, 65%);

// font
$font-family: 'Rubik', sans-serif;
$card-title-font-size: 18px;
